In [0]:
from google.colab import drive
drive.mount("/content/drive")

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import numpy as np
import pandas as pd

####Reading the bank dataset.

In [0]:
bank_df = pd.read_csv("/content/drive/My Drive/AIML/Residency7th/Lab/ExternalLab2/bank.csv")

In [0]:
bank_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

####Dropping the columns which are unique for all users like IDs.

In [0]:
bank_df = bank_df.drop(columns = ['RowNumber','CustomerId','Surname'],axis =1)

In [0]:
bank_df.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

####Distinguishing the feature and target set:

In [0]:
bank_df =  pd.get_dummies(bank_df,drop_first=True)

In [0]:
X = bank_df.drop(columns=['Exited'],axis=1)
y =  bank_df[['Exited']]

####Splitting the data set into Train and test sets:

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state = 0)

In [0]:
X_train.head()

      CreditScore  Age  Tenure  ...  Geography_Germany  Geography_Spain  Gender_Male
7681          641   33       2  ...                  0                0            1
9031          541   39       7  ...                  0                0            1
3691          590   76       5  ...                  0                0            0
202           516   50       5  ...                  0                1            1
5625          508   60       7  ...                  0                0            0

[5 rows x 11 columns]

####Normalizing the train and test data:

In [0]:
#feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [0]:
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [0]:
import keras
from keras.models import Sequential
from keras.layers import Dense,Dropout

####Initializing & building the model

In [0]:
#initialize ANN
classifier = Sequential()


#Adding Input layer and hidden layer
classifier.add(Dense(units= 8, kernel_initializer='uniform',activation='relu', input_dim= 11))
classifier.add(Dropout(0.3))

#Addeding Second hidden layer 
classifier.add(Dense(units=6,kernel_initializer='uniform', activation='relu'))
classifier.add(Dropout(0.5))

#adding output layer
classifier.add(Dense(units=1, kernel_initializer='uniform', activation='sigmoid'))

####Optimizing the model using 'adam' optimizer:

In [0]:
classifier.compile(optimizer='adam',loss='binary_crossentropy', metrics=['accuracy'])

In [0]:
classifier.fit(X_train,y_train, batch_size=30, epochs= 100)

Epoch 1/100
7000/7000 [==============================] - 1s 208us/step - loss: 0.6211 - acc: 0.7961
Epoch 2/100
7000/7000 [==============================] - 0s 50us/step - loss: 0.4773 - acc: 0.7977
Epoch 3/100
7000/7000 [==============================] - 0s 51us/step - loss: 0.4614 - acc: 0.7977
Epoch 4/100
7000/7000 [==============================] - 0s 48us/step - loss: 0.4530 - acc: 0.8063
Epoch 5/100
7000/7000 [==============================] - 0s 48us/step - loss: 0.4511 - acc: 0.8067
Epoch 6/100
7000/7000 [==============================] - 0s 48us/step - loss: 0.4547 - acc: 0.8041
Epoch 7/100
7000/7000 [==============================] - 0s 50us/step - loss: 0.4475 - acc: 0.8064
Epoch 8/100
7000/7000 [==============================] - 0s 50us/step - loss: 0.4529 - acc: 0.8039
Epoch 9/100
7000/7000 [==============================] - 0s 48us/step - loss: 0.4460 - acc: 0.8089
Epoch 10/100
7000/7000 [==============================] - 0s 50us/step - loss: 0.4394 - acc: 0.8119
Epoch 11/100
7000/7000 [==============================] - 0s 49us/step - loss: 0.4468 - acc: 0.8099
Epoch 12/100
7000/7000 [==============================] - 0s 51us/step - loss: 0.4367 - acc: 0.8097
Epoch 13/100
7000/7000 [==============================] - 0s 49us/step - loss: 0.4432 - acc: 0.8067
Epoch 14/100
7000/7000 [==============================] - 0s 51us/step - loss: 0.4413 - acc: 0.8069
Epoch 15/100
7000/7000 [==============================] - 0s 53us/step - loss: 0.4376 - acc: 0.8097
Epoch 16/100
7000/7000 [==============================] - 0s 47us/step - loss: 0.4412 - acc: 0.8067
Epoch 17/100
7000/7000 [==============================] - 0s 48us/step - loss: 0.4378 - acc: 0.8077
Epoch 18/100
7000/7000 [==============================] - 0s 48us/step - loss: 0.4426 - acc: 0.8073
Epoch 19/100
7000/7000 [==============================] - 0s 50us/step - loss: 0.4327 - acc: 0.8109
Epoch 20/100
7000/7000 [==============================] - 0s 54us/step - loss: 0.4366 - acc: 0.8081
Epoch 21/100
7000/7000 [==============================] - 0s 54us/step - loss: 0.4370 - acc: 0.8071
Epoch 22/100
7000/7000 [==============================] - 0s 47us/step - loss: 0.4335 - acc: 0.8071
Epoch 23/100
7000/7000 [==============================] - 0s 48us/step - loss: 0.4395 - acc: 0.8061
Epoch 24/100
7000/7000 [==============================] - 0s 48us/step - loss: 0.4385 - acc: 0.8087
Epoch 25/100
7000/7000 [==============================] - 0s 48us/step - loss: 0.4344 - acc: 0.8099
Epoch 26/100
7000/7000 [==============================] - 0s 47us/step - loss: 0.4409 - acc: 0.8080
Epoch 27/100
7000/7000 [==============================] - 0s 46us/step - loss: 0.4390 - acc: 0.8063
Epoch 28/100
7000/7000 [==============================] - 0s 48us/step - loss: 0.4366 - acc: 0.8077
Epoch 29/100
7000/7000 [==============================] - 0s 46us/step - loss: 0.4306 - acc: 0.8061
Epoch 30/100
7000/7000 [==============================] - 0s 46us/step - loss: 0.4339 - acc: 0.8090
Epoch 31/100
7000/7000 [==============================] - 0s 45us/step - loss: 0.4351 - acc: 0.8089
Epoch 32/100
7000/7000 [==============================] - 0s 46us/step - loss: 0.4332 - acc: 0.8081
Epoch 33/100
7000/7000 [==============================] - 0s 45us/step - loss: 0.4335 - acc: 0.8093
Epoch 34/100
7000/7000 [==============================] - 0s 46us/step - loss: 0.4357 - acc: 0.8091
Epoch 35/100
7000/7000 [==============================] - 0s 46us/step - loss: 0.4322 - acc: 0.8099
Epoch 36/100
7000/7000 [==============================] - 0s 47us/step - loss: 0.4369 - acc: 0.8066
Epoch 37/100
7000/7000 [==============================] - 0s 46us/step - loss: 0.4303 - acc: 0.8084
Epoch 38/100
7000/7000 [==============================] - 0s 46us/step - loss: 0.4326 - acc: 0.8091
Epoch 39/100
7000/7000 [==============================] - 0s 44us/step - loss: 0.4321 - acc: 0.8104
Epoch 40/100
7000/7000 [==============================] - 0s 46us/step - loss: 0.4322 - acc: 0.8126
Epoch 41/100
7000/7000 [==============================] - 0s 52us/step - loss: 0.4317 - acc: 0.8121
Epoch 42/100
7000/7000 [==============================] - 0s 48us/step - loss: 0.4340 - acc: 0.8100
Epoch 43/100
7000/7000 [==============================] - 0s 46us/step - loss: 0.4354 - acc: 0.8096
Epoch 44/100
7000/7000 [==============================] - 0s 48us/step - loss: 0.4319 - acc: 0.8157
Epoch 45/100
7000/7000 [==============================] - 0s 49us/step - loss: 0.4290 - acc: 0.8104
Epoch 46/100
7000/7000 [==============================] - 0s 47us/step - loss: 0.4289 - acc: 0.8121
Epoch 47/100
7000/7000 [==============================] - 0s 48us/step - loss: 0.4411 - acc: 0.8123
Epoch 48/100
7000/7000 [==============================] - 0s 48us/step - loss: 0.4267 - acc: 0.8157
Epoch 49/100
7000/7000 [==============================] - 0s 50us/step - loss: 0.4379 - acc: 0.8113
Epoch 50/100
7000/7000 [==============================] - 0s 50us/step - loss: 0.4346 - acc: 0.8133
Epoch 51/100
7000/7000 [==============================] - 0s 49us/step - loss: 0.4402 - acc: 0.8096
Epoch 52/100
7000/7000 [==============================] - 0s 50us/step - loss: 0.4337 - acc: 0.8127
Epoch 53/100
7000/7000 [==============================] - 0s 57us/step - loss: 0.4347 - acc: 0.8131
Epoch 54/100
7000/7000 [==============================] - 0s 48us/step - loss: 0.4342 - acc: 0.8153
Epoch 55/100
7000/7000 [==============================] - 0s 48us/step - loss: 0.4340 - acc: 0.8160
Epoch 56/100
7000/7000 [==============================] - 0s 48us/step - loss: 0.4328 - acc: 0.8133
Epoch 57/100
7000/7000 [==============================] - 0s 48us/step - loss: 0.4357 - acc: 0.8159
Epoch 58/100
7000/7000 [==============================] - 0s 48us/step - loss: 0.4321 - acc: 0.8100
Epoch 59/100
7000/7000 [==============================] - 0s 47us/step - loss: 0.4323 - acc: 0.8167
Epoch 60/100
7000/7000 [==============================] - 0s 48us/step - loss: 0.4304 - acc: 0.8119
Epoch 61/100
7000/7000 [==============================] - 0s 47us/step - loss: 0.4329 - acc: 0.8141
Epoch 62/100
7000/7000 [==============================] - 0s 46us/step - loss: 0.4307 - acc: 0.8091
Epoch 63/100
7000/7000 [==============================] - 0s 46us/step - loss: 0.4322 - acc: 0.8131
Epoch 64/100
7000/7000 [==============================] - 0s 49us/step - loss: 0.4322 - acc: 0.8160
Epoch 65/100
7000/7000 [==============================] - 0s 53us/step - loss: 0.4320 - acc: 0.8116
Epoch 66/100
7000/7000 [==============================] - 0s 49us/step - loss: 0.4294 - acc: 0.8117
Epoch 67/100
7000/7000 [==============================] - 0s 47us/step - loss: 0.4335 - acc: 0.8129
Epoch 68/100
7000/7000 [==============================] - 0s 46us/step - loss: 0.4318 - acc: 0.8123
Epoch 69/100
7000/7000 [==============================] - 0s 47us/step - loss: 0.4298 - acc: 0.8164
Epoch 70/100
7000/7000 [==============================] - 0s 45us/step - loss: 0.4324 - acc: 0.8157
Epoch 71/100
7000/7000 [==============================] - 0s 50us/step - loss: 0.4302 - acc: 0.8127
Epoch 72/100
7000/7000 [==============================] - 0s 54us/step - loss: 0.4322 - acc: 0.8153
Epoch 73/100
7000/7000 [==============================] - 0s 48us/step - loss: 0.4375 - acc: 0.8133
Epoch 74/100
7000/7000 [==============================] - 0s 50us/step - loss: 0.4348 - acc: 0.8127
Epoch 75/100
7000/7000 [==============================] - 0s 48us/step - loss: 0.4350 - acc: 0.8116
Epoch 76/100
7000/7000 [==============================] - 0s 47us/step - loss: 0.4334 - acc: 0.8104
Epoch 77/100
7000/7000 [==============================] - 0s 47us/step - loss: 0.4351 - acc: 0.8140
Epoch 78/100
7000/7000 [==============================] - 0s 46us/step - loss: 0.4355 - acc: 0.8097
Epoch 79/100
7000/7000 [==============================] - 0s 46us/step - loss: 0.4330 - acc: 0.8127
Epoch 80/100
7000/7000 [==============================] - 0s 47us/step - loss: 0.4253 - acc: 0.8154
Epoch 81/100
7000/7000 [==============================] - 0s 48us/step - loss: 0.4286 - acc: 0.8147
Epoch 82/100
7000/7000 [==============================] - 0s 47us/step - loss: 0.4331 - acc: 0.8184
Epoch 83/100
7000/7000 [==============================] - 0s 46us/step - loss: 0.4299 - acc: 0.8163
Epoch 84/100
7000/7000 [==============================] - 0s 48us/step - loss: 0.4314 - acc: 0.8077
Epoch 85/100
7000/7000 [==============================] - 0s 49us/step - loss: 0.4340 - acc: 0.8133
Epoch 86/100
7000/7000 [==============================] - 0s 46us/step - loss: 0.4367 - acc: 0.8119
Epoch 87/100
7000/7000 [==============================] - 0s 46us/step - loss: 0.4310 - acc: 0.8121
Epoch 88/100
7000/7000 [==============================] - 0s 45us/step - loss: 0.4258 - acc: 0.8146
Epoch 89/100
7000/7000 [==============================] - 0s 45us/step - loss: 0.4370 - acc: 0.8121
Epoch 90/100
7000/7000 [==============================] - 0s 46us/step - loss: 0.4408 - acc: 0.8124
Epoch 91/100
7000/7000 [==============================] - 0s 46us/step - loss: 0.4369 - acc: 0.8150
Epoch 92/100
7000/7000 [==============================] - 0s 44us/step - loss: 0.4291 - acc: 0.8139
Epoch 93/100
7000/7000 [==============================] - 0s 45us/step - loss: 0.4316 - acc: 0.8130
Epoch 94/100
7000/7000 [==============================] - 0s 48us/step - loss: 0.4405 - acc: 0.8131
Epoch 95/100
7000/7000 [==============================] - 0s 47us/step - loss: 0.4282 - acc: 0.8139
Epoch 96/100
7000/7000 [==============================] - 0s 48us/step - loss: 0.4327 - acc: 0.8127
Epoch 97/100
7000/7000 [==============================] - 0s 47us/step - loss: 0.4359 - acc: 0.8123
Epoch 98/100
7000/7000 [==============================] - 0s 51us/step - loss: 0.4315 - acc: 0.8154
Epoch 99/100
7000/7000 [==============================] - 0s 49us/step - loss: 0.4304 - acc: 0.8153
Epoch 100/100
7000/7000 [==============================] - 0s 46us/step - loss: 0.4272 - acc: 0.8164

####Predicting the results using 0.5 as a threshold:

In [0]:
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

####Preparing the confusion matrix and calculating the Accuracy score:

In [0]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm = confusion_matrix(y_test, y_pred)
acc = accuracy_score(y_test,y_pred)

####The model has provided 81% of accuracy.

In [0]:
acc

0.8113333333333334

In [0]:
cm

array([[2376,    3],
       [ 563,   58]])

####The confusion matrix indicates the following, 
a. The model corectly predicted 2376 employee will leave bank(TP). 

b. 58 employees are idenitified as they will leave the bank, but they won't(TN). 

c. 563 employees are wrongly identified that they will leave the bank(FP).

d. 3 employees are identified as they will not leave the bank, but they will leave the bank(FN)