# External Lab

# Part-1

## About the dataset

This is perhaps the best known database to be found in the pattern recognition literature. The data set contains 3 classes of 50 instances each, where each class refers to a type of iris plant.  One class is linearly separable from the other 2; the latter are NOT linearly separable from each other.

Attribute Information:
   1. sepal length in cm
   2. sepal width in cm
   3. petal length in cm
   4. petal width in cm
   5. class: 
      -- Iris Setosa
      -- Iris Versicolour
      -- Iris Virginica

### Read the dataset and store it in the dataframe named Iris

In [ ]:
import pandas as pd
from pandas import read_csv
Iris = pd.read_csv("Iris.csv")
Iris

### Find out the datatypes of each and every column

In [ ]:
Iris.dtypes

### Print top 10 & bottom 10 samples from the dataframe

In [ ]:
Iris.head(n=10)

In [ ]:
Iris.tail(n=10)

### Find the shape of the dataset

In [ ]:
Iris.shape

### Set the index of the dataframe to be the first column

In [25]:
#Firstcol = Iris.loc[0:1]
#Firstcol
#df.set_index('Sepal Length (in cm)')
#Iris = Iris.set_index([1])
#Firstcol = Iris.set_index("Sepal Length (in cm)", inplace = True) 
#Firstcol
#Iris.iloc[:,0]
#Iris.index = Iris['Sepal Length (in cm)']
#Iris

#Iris.index.name = 'index'
#Iris

#Iris.set_index('Index')
#Iris

#Iris.reset.index()
Iris=Iris.rename_axis('Index')
Iris.head()

,Sepal Length (in cm),Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class
Index,,,,,
5.1,5.1,3.5,1.4,0.2,Iris-setosa
4.9,4.9,3.0,1.4,0.2,Iris-setosa
4.7,4.7,3.2,1.3,0.2,Iris-setosa
4.6,4.6,3.1,1.5,0.2,Iris-setosa
5.0,5.0,3.6,1.4,0.2,Iris-setosa

### Use iloc function to print all the rows of the 3rd column

In [ ]:
Iris.iloc[:,2]

### Slicing
Print only the Sepal width and Sepal Length for first 10 rows

In [ ]:
Iris.iloc[:10,:2]

### Using Logical statements for indexing
Print all the columns of row which has class name "Iris-setosa"

In [ ]:
Iris.loc[Iris["Class"]=="Iris-setosa"]

### Multiply Sepal Length and width and store it under the column name "SepalExtra" in the same Iris dataframe

In [ ]:
#Iris = Iris.loc[Iris["Sepal Length (in cm)"] * ["Sepal Width in (cm)"],["SepalExtra"]]
#Iris

#Iris = Iris.loc[Iris["Sepal Length (in cm)"] * ["Sepal Width in (cm)"],["SepalExtra"]]
#Iris

#Iris['SepalExtra'] = (Sepal Length (in cm)) * (Sepal Width in (cm))
#Iris

Iris['SepalExtra'] = Iris['Sepal Length (in cm)']*Iris['Sepal Width in (cm)']
Iris

### Find out the mean and variance for each column but for class column

In [ ]:
#Iris['SepalExtra'] = [Iris.loc[Iris["Class"]=="Iris-setosa"]].mean()
#Iris

#Iris = Iris.describe().loc[['mean', 'std']]
#Iris.loc['variance'] = Iris.loc['std']**2
#Iris

Iris.mean(axis=1)
Iris.var()

### Write a function that accepts two numbers as input and prints them - Pass the Sepal length and sepal width of 5th row and print the output

In [ ]:
def addnum(a,b):
    res = a + b
    return res

addnum(Iris['Sepal Length (in cm)'][4],Iris['Sepal Width in (cm)'][4])

### Find the range of all the columns in the dataset

*Range = Max value - Min value (in the column)*

In [ ]:
SepalLenRange = Iris['Sepal Length (in cm)'].max() - Iris['Sepal Length (in cm)'].min()
print(SepalLenRange)
SepalWdtRange = Iris['Sepal Width in (cm)'].max() - Iris['Sepal Width in (cm)'].min()
print(SepalWdtRange)
PetalLenRange = Iris['Petal length (in cm)'].max() - Iris['Petal length (in cm)'].min()
print(PetalLenRange)
PetalWdtRange = Iris['Petal width (in cm)'].max() - Iris['Petal width (in cm)'].min()
PetalWdtRange

### Sort the entire dataset according to the column Petal width

In [ ]:
Iris.sort_values(by=["Petal width (in cm)"],ascending=False)

### Remove the new column "SepalExtra" from the dataframe

In [ ]:
Iris.drop(columns=['SepalExtra'])

### Take only the top 10 rows of the dataset with only first 3 columns and store it in a dataframe named "IrisSubset"

In [ ]:
IrisSubset = Iris.iloc[0:10,0:3]
IrisSubset

# Part-2

## The dataset HR contains information collected from the survey floated by a HR within the company.


As a part of this lab, you are expected to answer the below questions

### Import numpy and Pandas

In [ ]:
import numpy as np
import pandas as pd

### Import the dataset (Note: The dataset is in .txt format) - Make sure to use delimiters

In [ ]:
HrSet =  pd.read_csv('HR_external.txt', delimiter="\t")

### Print the no of rows and columns in the dataset

In [ ]:
HrSet

### Find out the type of each and every column in the dataset

In [ ]:
HrSet.dtypes

### Print out all the rows from 3rd column to 10th columns

In [ ]:
HrSet.iloc[:,2:10]

### Find out the no of male & female employees in the company

*Hint: Use can use a condition to find out the no of 1s and 0s in gender and sum it*

In [ ]:
HrSetMale = HrSet[HrSet['Gender'] == 2]
HrSetFeMale = HrSet[HrSet['Gender'] == 1]
print(HrSetMale['Gender'].count())
HrSetFeMale['Gender'].count()

In [ ]:
#HrSetMale['Gender'].count()

In [ ]:
#HrSetFeMale['Gender'].count()

### Find out the IQR for the column - Age 

*Hint: IQR - Interquartile range = 75th percentile - 25th percentile*

In [ ]:
HrSet['Age'].quantile(.75)-HrSet['Age'].quantile(.25)

### Find out the mean, median and variance for the column - DailyRate

In [ ]:
HrSet['DailyRate'].mean()

In [ ]:
HrSet['DailyRate'].median()

In [ ]:
HrSet['DailyRate'].var()

### Plot the attrition column (Since it is a categorical variable, chose the plot accordingly)

In [ ]:
#import seaborn as sns
#import matplotlib.pyplot as plt

#data=HrSet['Attrition']

#plt.plot(data)

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(style="ticks", color_codes=True)

data=HrSet['Attrition']

plt.plot(data)

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(style="ticks", color_codes=True)

hrset = sns.load_dataset("HrSet)
sns.catplot(x="JobSatisfaction", y="Attrition", data=hrset);

### Plot Total working years using matplotlib plot function

In [ ]:
data=HrSet['TotalWorkingYears']

In [ ]:
plt.plot(data)