# Statistical Learning - Project 2

## Questions

1. Find the mean of old scheme and new scheme column. (5 points)

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_1samp, ttest_ind, mannwhitneyu, levene, shapiro
from statsmodels.stats.power import ttest_power

In [2]:
SalesData = pd.read_csv('data.csv')
SalesData.head()

   SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
0            1                         57                         62
1            2                        103                        122
2            3                         59                         54
3            4                         75                         82
4            5                         84                         84

In [3]:
SalesData.shape

(30, 3)

In [4]:
#Since given data for Old Scheme & New Scheme in thousands its better to convert that with multiple by 1000
SalesData["OldScheme"]=SalesData["Old Scheme (in thousands)"]*1000
SalesData["NewScheme"]=SalesData["New Scheme (in thousands)"]*1000
#NOTE : mean value calculated from the newly converted field
print( "Old Scheme Mean Value : {0}".format(SalesData["OldScheme"].mean()))
print( "New Scheme Mean Value : {0}".format(SalesData["NewScheme"].mean()))

Old Scheme Mean Value : 68033.33333333333
New Scheme Mean Value : 72033.33333333333

2. Use the five percent significance test over the data to determine the p value to check new scheme has significantly raised outputs? (10 points)

In [10]:
#Two sample t-test
t_statistic, p_value = ttest_ind(SalesData["OldScheme"], SalesData["NewScheme"])
print ("p-Value for 2 tail = {0}".format( p_value))
print("P-value for 1 tail={0}".format(p_value/2))

p-Value for 2 tail = 0.49063515686248105
P-value for 1 tail=0.24531757843124052

3. What conclusion does the test (p-value) lead to? (2.5 points)

In [11]:
#Null Hypothesis : mu2 = mu1 (i.e.New scheme has not significantly raised outputs)

#Alternate Hypothesis : mu2 > mu1 (i.e. New scheme has significantly raised outputs)

# p_value < 0.05 => alternative hypothesis:
# they don't have the same mean at the 5% significance level
# It will be a one tail test as we are testing against right tail.

print ("Since p-value = {0} is higher than 0.05, we accept (fail to reject) NULL hypothesis.".format( p_value/2))
print ("The New scheme has NOT significantly raised outputs.")

Since p-value = 0.24531757843124052 is higher than 0.05, we accept (fail to reject) NULL hypothesis.
The New scheme has NOT significantly raised outputs.

4. Suppose it has been calculated that in order for Titan to break even, the average output must increase by £5000 in the scheme compared to the old scheme. If this figure is alternative hypothesis, what is:

  a) The probability of a type 1 error? (2.5 points)

<b>Ans :</b><br>
*When the null hypothesis is true and you reject it.*<br>
Albha = props(Type I Error)=significant level = 0.05 or 5%</br>

b) What is the p- value of the hypothesis test if we test for a difference of $5000? (5 points)

In [18]:
# Let  μ2 = Mean value of New Scheme.
# μ1 = Mean value of Old Scheme.
# μd = μ2 – μ1   

# H0: μd >= 5000  
# HA: μd < 5000
# one tail test


t_statistic, p_value = ttest_1samp(SalesData["NewScheme"]-SalesData["OldScheme"], 5000)
print("p-Value  = {0}".format(p_value/2))

p-Value  = 0.3500667456306643

c) Power of the test (5 points)

In [20]:
# Calculating Power of Test
# Compute the difference in Means between 2 sample means and divide by pooled Standard Deviation 
# number of Observations/tuples
# Set the alpha value to 0.05 and alternative values 'two-sided' , 'larger' , 'smaller'
newScheme=SalesData["NewScheme"]
oldScheme=SalesData["OldScheme"]
test_size=(np.mean(newScheme) - np.mean(oldScheme)) / np.sqrt(((30-1)*np.var(newScheme)+(30-1)*np.var(oldScheme)) / 30+30-2)
print(test_size)

0.13102028811290184

In [24]:
# calculate the t test
alpha = 0.05
powerOfTest=ttest_power(test_size, nobs=30, alpha=alpha,alternative='smaller')
print("Power of Test Value: {0}".format(powerOfTest))

Power of Test Value: 0.00948692056155094